.sidebar-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Khoảng cách từ đỉnh của sidebar tới đầu trang */
  height: 100vh; /* Chiều cao của sidebar, cho phù hợp với toàn bộ chiều cao màn hình */
  z-index: 1000;
  background-color: #fff; /* Đảm bảo background khi cuộn không bị mờ */
  padding: 10px;
}